.customPagination{
float: right;
}

.winnerPagination {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.winnerPagination a {
    padding: 10px;
    font-size: 18px;
}

.paginationActive {
    background-color: grey;
    color: white;
    border-radius: 20%;
}

.nextAndpreviousBtn {
    background-color: #61dafb;
    margin-left: 10px;
    margin-right: 10px;
}

.nextAndpreviousBtn a {
    font-size: 30px;
}

.scrollspy{
    overflow-y
    : scroll;
    height: 30px;
}